body {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

.toplist {
  width:100%;
  height:640px;
  opacity:20%;
  color:white;
  background-color: #0072BB;
}

.logo {
  font-family: 'Titillium Web', sans-serif;
  line-height: 200%;
  font-size: 220%;
  padding-right: 13%;
}

.toplist .homelist {
  text-align: center;
}

.list{
  padding-right: 1.5%;
}

.list a{
  text-decoration: none;
  color:white;
}

.list a:hover{
	color:#FF9900;
	transition: color 0.2s linear;
}

.mainlist {
	background-color: #0072BB;
  width:100%;
  height: 6%;
  margin: 0;
  padding:0;
  text-align: center;
  position: fixed;
	border-bottom-style: solid;
	border-bottom-color: white;
}

.toplist .homelist ul li {
  font-family: 'Titillium Web', sans-serif;
	display: inline-block;
	font-weight: bold;
	padding-top: 0.03%;
}

.maintext{
  font-family: 'Titillium Web', sans-serif;
  color:white;
  text-align: center;
  font-size: 200%;
  padding-top: 8.2%;
}

.title{
	font-family: 'Titillium Web', sans-serif;
	font-size: 625%;
	color:white;
	font-weight: bold;
}

.buttons{
  padding-top: 1.5%;
  text-align: center;
}

.sign_in{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 150%;
  font-size: 140%;
  background-color: white;
  color:#0072BB;
  border:0;
  border-radius: 5px;
  padding-top: 0.8%;
  padding-bottom: 0.85%;
  padding-left: 1.14%;
  padding-right: 1.14%;
}

.sign_in:hover{
  background-color: #FF9900;
	color:white;
	transition: background-color 0.1s linear;
	cursor: pointer;
}

.sign_in:active {
	box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3),inset 0 5px 30px rgba(255,255,255, 0.3);
}

.sign_in:focus {
  outline: none
}

.signup{
	background-color: whitesmoke;
	height:600px;
}

.linkedin{
	float:left;
	padding-left: 1.4%;
	padding-top: 1.4%;
}

.word{
	float:right;
	padding-right: 5.6%;
}

.signupinfo{
	float: left;
	padding-left: 29%;
	padding-top: 5%;
}

.intro{
	font-size: 260%;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	line-height: 110%;
}

.intropara{
	font-size: 140%;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	line-height: 135%;
}

.signupbox{
	float:right;
	padding-right: 31%;
	padding-top: 6.58%;
}

.inputname{
	padding-bottom: 5.35%;
	display: block;
}

.username{
	font-size: 113%;
	height:35px;
	width:110%;
	padding: 1.3% 6.5%;
	border-radius: 4px;
	border: 1px solid grey;
}

.sign_up{
	font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 170%;
  font-size: 113%;
	width:124%;
	padding-top:2%;
	padding-bottom: 2%;
	background-color: #0072BB;
	border:0;
  border-radius: 5px;
	color:white;
}

.sign_up:hover{
	background-color: #FF9900;
	color:white;
	cursor: pointer;
}

.login{
	display:block;
	padding-top: 5%;
	width:124%;
}

.account{
	font-family: 'Titillium Web', sans-serif;
	padding-top: 1.5%;
	float: left;
}

.log{
	padding-left: 15%;
}

.log_in{
	float:right;
	font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 170%;
  font-size: 113%;
	width:59%;
	padding-top:2%;
	padding-bottom: 2%;
	background-color: #0072BB;
	border:0;
  border-radius: 5px;
	color:white;
}

.log_in:hover{
	background-color: #FF9900;
	color:white;
	cursor: pointer;
}

footer{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.copyright{
	padding-top: 2.8%;
	padding-bottom: 2.8%;
	height:100%;
	color:grey;
}
