body {
  margin: 0;
  padding: 0 0;
}

.whole {
  background-image:linear-gradient(to bottom right,#3e5b95, #30bfbf);
  height:650px;
  width:100%;
  color:white;
  text-align: center;
}

.homelist{
  height:80px;
  color:white;
  border-bottom-style: solid;
  border-bottom-color: white;
  width:100%;
}

.homelist ul li{
  display:inline-block;
  padding-top: 18px;
}

.logo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 200%;
  padding-right:14%;
  font-weight: bold;
}

.list{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding-right: 1.5%;
}

.list a{
  text-decoration: none;
  color:white;
}

.list a:hover{
	color:#FFCC00;
	transition: color 0.2s linear;
}

.maintext{
  font-family: 'Titillium Web', sans-serif;
  font-size: 200%;
  padding-top: 100px;
}

.title{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 625%;
}

.buttons{
  padding-top: 44px;
}

.sign_in{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 150%;
  font-size: 120%;
  background-color: white;
	color:#3695ae;
  border:0;
  border-radius: 0px;
	transition: 0.2s linear;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 1.14%;
  padding-right: 1.14%;
}

.sign_in:hover{
	transition:  0.2s linear;
	cursor: pointer;
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.sign_in:active {
	box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3),inset 0 5px 30px rgba(255,255,255, 0.3);
}

.sign_in:focus {
  outline: none
}

.info{
  background-color: whitesmoke;
  height:600px;
}

.signup{
  height:600px;
}

.signupinfo{
	float: left;
  width:50%;
  height:600px;
}

.intro{
	font-size: 32px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
  line-height: 44px;
  padding-top: 135px;
  padding-left: 46%;
	padding-right:10%;
}

.intropara{
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
  line-height: 30px;
  padding-top: 45px;
  padding-left: 46%;
	padding-right: 10%;
}

.signupbox{
	float:right;
  width:50%;
  height:600px;
}

.inputs{
  padding-top: 125px;
  padding-left: 10%;
}

.inputname{
	padding-bottom: 15px;
	display: block;
}

.username{
	font-size: 18px;
	height:50px;
	width:430px;
	padding-left: 2%;
	border-radius: 4px;
	border: 1px solid grey;
	font-family: 'Titillium Web', sans-serif;
}

.repeatusername{
  font-family: 'Titillium Web', sans-serif;
  float:right;
  color:red;
  text-decoration: none;
  padding-top: 14px;
  padding-right: 380px;
}

.linkedin{
	float:left;
	padding-left: 1.4%;
  padding-top: 3px;
}

.sign_up{
	font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 18px;
	width:430px;
	background-color: #30bfbf;
	border:0;
  border-radius: 5px;
	color:white;
  height:45px;
}

.sign_up:hover{
	background-color: #97dfdf;
	color:white;
	cursor: pointer;
}

.account{
	font-family: 'Titillium Web', sans-serif;
  float:left;
  padding-right: 2%;
	font-size: 16px;
}

.log_in{
	font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 18px;
	width:254px;
	background-color: #30bfbf;
	border:0;
  border-radius: 5px;
	color:white;
  height:45px;
}

.log_in:hover{
	background-color: #97dfdf;
	color:white;
	cursor: pointer;
}

.login{
	display:block;
  padding-top: 10px;
	width:100%;
}

footer{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.copyright{
	padding-top: 50px;
  padding-bottom: 30px;
	height:50px;
	color:grey;
}
