<!DOCTYPE>
<html lang="en-us">
<head>
  <title>Linkedsume:The Perfect Resume Generator</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Display.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="scroll.js"></script>
  <meta charset="utf-8">
</head>
<body>
  <section class="whole">
    <nav class="homelist">
      <ul class="mainlist">
        <li class="logo">Linkedsume</li>
        <li class="list"><a href="https://localhost:5000/register"><div class="HOME">GETTING STARTED</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ABOUT</div></a></li>
        <li class="list"><a href="https://localhost:5000/login"><div class="HOME">LOGIN</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ACCOUNT</div></a></li>
      </ul>
    </nav>
  </section>
  <section id="section01" class="authorize">
    <div class="textbox">
      <div class="question1">Why use our website?</div>
      <div class="answer">
      Our Website is a convenient tool to convert the bunch of information
      </br>from your account on Linkedin to a tidy, clear resume. More importantly,
      </br>you can achieve this by only a few clicks on our website.
      </div>
      <div class="question">What can our website do?</div>
      <div class="answer">
      Many people worried about how to make a clear and appealing resume </br>
      so they can get higher chances to be accepted. Our website can help you! </br>
      We can convert the information on your Linkedin Account profile into a </br>
        formatted resume. We will also provide more choices of template in the </br>
        future to satisfy different needs.
      </div>
      <div class="question">How to get started?</div>
      <div class="answer">
      You can start by clicking the button on the right to login to Linkedin.com </br>
      and follow the instruction given later.
      </div>
    </div>
    <div class="step">
      <div class="step1">Step 1: Login to your </br>Linkedin Account</div>
      <div class="linkedin">
        <a href="https://www.linkedin.com">
          <button class="download">Linkedin</button>
        </a>
      </div>
    </div>
    <div id="section01" class="scroll">
     <a class="move" href="#section02"><span></span>Next</a>
    </div>
  </section>

  <section class="generate">
    <div class="background">
      <div class="sample">
      <div class="wrap">
        <div class="slider_wrapper">
  				<ul id="image_slider">
  					<li><img src="{{ url_for('static', filename='sample.gif') }}" height="580" width="420"></li>
  					<li><img src="sample.gif" height="580" width="420"></li>
  					<li><img src="sample.gif" height="580" width="420"></li>
  					<li><img src="sample.gif" height="580" width="420"></li>
  					<li><img src="sample.gif" height="580" width="420"></li>
  					<li><img src="sample.gif" height="580" width="420"></li>
  				</ul>
  				<span class="nvgt" id="prev"></span>
  				<span class="nvgt" id="next"></span>
  			</div>
      </div>
		  </div>
      <div class="generatebox">
        <div class="generatetext">
          Want your resume now? </br>Click "Authorize"!
        </div>
        <div class="generatebutton">
          <a href="https://www.google.com">
            <form action="{{ url_for('authorize' )}}" method="post">
              <button class="togenerate">Authorize</button>
            </form>
          </a>
        </div>
      </div>
      <div id="section02" class="scroll2">
	      <a class="two" href="#section03"><span></span>Next</a>
      </div>
    </div>
  </section>

  <section id="section03" class="main">
    <div class="entire">
      <div class="cover">
        <div class="words">
          Step 3: What are you waiting for?</br> The perfect resume for you is just
          </br> a click away!
        </div>
        <div class="display">
          <form action="{{ url_for('generate') }}" method="post">
            <button class="pdf">Display</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="copyright">Copyright &copy; 2016 Linkedsume Group</div>
  </footer>
</html>
