<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Display</title>
  <link rel="stylesheet" href="downloaddesign.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <section class="downloadtext">
    <nav class="homelist">
      <ul class="mainlist">
        <li class="logo">Linkedsume</li>
        <li class="list"><a href="homepage.html"><div class="HOME">GETTING STARTED</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ABOUT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">CONTACT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ACCOUNT</div></a></li>
      </ul>
    </nav>
  </section>
  <section>
    <div class="handinimg">
      <img src="handin resume.jpg" />
    </div>
  <div class="downloadstep">
      Step 3: Your resume is ready. Click "Download" button to download it.
        <br></br>
        <a href="https://www.google.com">
          <button class="downloadbutton">PDF Display</button>
        </a>
        <br></br>
  </div>

</section>
