<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Download login page</title>
  <link rel="stylesheet" href="download design.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <section class="downloadtext">
    <nav class="homelist">
      <ul class="mainlist">
        <li class="logo">Linkedsume</li>
        <li class="list"><a href="homepage.html"><div class="HOME">GETTING STARTED</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ABOUT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">CONTACT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ACCOUNT</div></a></li>
      </ul>
    </nav>
  </section>
  <section class="FAQ">
  <div class="textbox">
    <div class="question"><h3>Why use our website?</h3></div>
    <br class="answer">
    Our Website is a convenient tool to convert the bunch of information from your account on Linkedin to a tidy, clear resume. More importantly, you can achieve this by only a few clicks on our website.
    </br>
    <div class="question"><h3>What can our website do?</h3></div>
    <br class="answer">
    Many people worried about how to make a clear and appealing resume so they can get higher chances to be accepted. Our website can help you! We can convert the information on your Linkedin Account profile into a formatted resume. We will also provide more choices of template in the future to satisfy different needs.
    </br>
    <div class="question"><h3>How to get started?</h3></div>
    <br class="answer">
    You can start by clicking the button on the right to login to Linkedin.com and follow the instruction given later.
  </div>
  <dl class="step">
    <dt><h2>Step 1: Login to your Linkedin Account and authorize.</h2></dt>
    <dd>
      <br></br>
      <a href="https://www.google.com">
        <button class="download">Linkedin</button>
      </a>
      <br></br>
    </dd>
  <div class="loginnext">
    <button class="button" ><span>Next </span></button>
  </div>
</section>
