<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Generate</title>
  <link rel="stylesheet" href="downloaddesign.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <section class="downloadtext">
    <nav class="homelist">
      <ul class="mainlist">
        <li class="logo">Linkedsume</li>
        <li class="list"><a href="homepage.html"><div class="HOME">GETTING STARTED</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ABOUT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">CONTACT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ACCOUNT</div></a></li>
      </ul>
    </nav>
  </section>

<section class="imgbox2">


  <div class="imgbox">
    <img src="sample.gif" />
  </div>

<dl class="generatestep">
<dt><h2>Step 2:Click "Generate" button and wait a few seconds.</h2></dt>
<dd>
  <br></br>
  <a href="https://www.google.com">
    <button class="download">Generate</button>
  </a>
  <br></br>
</dd>
</dl>
<div class="generatenext">
  <button class="button" ><span>Next </span></button>
</div>
</section>
