<!DOCTYPE>
<html lang="en-us">
<head>
  <title>Linkedsume:The Perfect Resume Generator</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='linkedsume.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <section class="whole">
    <nav class="homelist">
      <ul class="mainlist">
        <li class="logo">Linkedsume</li>
        <li class="list"><a href="homepage.html"><div class="HOME">GETTING STARTED</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ABOUT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">CONTACT</div></a></li>
        <li class="list"><a href="https://www.google.com"><div class="HOME">ACCOUNT</div></a></li>
      </ul>
    </nav>
    <div class="maintext">
      Overwhelmed by writing your own resume?<br />
      Generate resume from your Linkedin Profile with
    </div>
    <div class="title">
      Linkedsume
    </div>
    <div class="buttons">
      <button class="sign_in">Learn More</button>
    </div>
  </section>
  <section class = "info">
    <div class="signup">
      <div class="signupinfo">
        <div class="intro">Linkedsume is exactly <br />what you need to create
          <br/>the perfect resume</div>
        <div class="intropara">Linkedsume creates resume in <br />the format of
          your choice from your <br />linkedin account in less than a second</div>
      </div>
      <div class="signupbox">
        <form action="{{ url_for('register') }}" method="post" class="reguster">
        <ul class="inputs">
          <li class="inputname"><input class="username" type="text" name="username" placeholder="Username"></li>
          <li class="inputname"><input class="username" type="text" name="email" placeholder="Email"></li>
          <li class="inputname"><input class="username" type="password" name="password" placeholder="Password"></li>
          <button class="sign_up"><img class="linkedin" src="{{ url_for('static', filename='linkedin.png') }} " alt="Mountain View" style="width:20px;height:20px;">
            <div class="word">Register</div></button>
          <li class="login"><div class="account">Already has an account?</div>
            <a href="login.html"><div class="log"><button class="log_in">log in here</button></div></a></li>
        </ul>
      </form>
      </div>
    </div>
  </section>
</body>
<footer>
  <div class="copyright">Copyright &copy; 2016 Linkedsume Group</div>
</footer>
</html>
